<!DOCTYPE HTML>
<html>
  <head>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon" />
    <title>Projet DPI</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-timeline/7.7.3/vis-timeline-graph2d.min.js"></script> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis-timeline/7.7.3/vis-timeline-graph2d.css" /> -->
    <script src="https://unpkg.com/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/vis-timeline/styles/vis-timeline-graph2d.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
  <body class="is-preload">
    <div id="page-wrapper">
      <!-- Header -->
      <div id="header">
        <!-- Nav -->
        <nav id="nav">
          <ul>
            <li class="current">
              <a href="/">Projet DPI</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Highlights -->
      <section class="wrapper style1">
        <div class="container">
          <div>
            <select id="patients-dropdown" name="patients-dropdown">
              <option value="0">Choisir un patient...</option>
            </select>
          </div>
          <br />
          <div class="buttons-container">
            <ul id="primary-items">
              <li>
                <img draggable="false" class="modal-needed vital-constant" src="{{ url_for('static', filename='images/thermometer.png') }}" alt="Image 1" width="50" height="50" id="T" title="Température" />
              </li>
              <li>
                <img draggable="false" class="modal-needed vital-constant" src="{{ url_for('static', filename='images/manometre.png') }}" alt="Image 2" width="50" height="50" id="PA" title="Pression artérielle" />
              </li>
              <li>
                <img draggable="false" class="modal-needed vital-constant" src="{{ url_for('static', filename='images/pulsation.png') }}" alt="Image 3" width="50" height="50" id="P" title="Rythme cardiaque" />
              </li>
              <li>
                <img draggable="true" class="item vital-constant" src="{{ url_for('static', filename='images/o2.png') }}" alt="Image 4" width="50" height="50" id="S" title="Saturation" />
              </li>
              <li>
                <img draggable="false" class="modal-needed state" src="{{ url_for('static', filename='images/pain.png') }}" alt="Image 5" width="50" height="50" id="D" title="Douleur" />
              </li>
              <li>
                <img draggable="true" class="item state" src="{{ url_for('static', filename='images/fasting.png') }}" alt="Image 6" width="50" height="50" id="A" title="Jeûne" />
              </li>
              <li>
                <img draggable="false" class="modal-needed state" src="{{ url_for('static', filename='images/moods.png') }}" alt="Image 7" width="50" height="50" id="EP" title="Humeur" />
              </li>
              <li>
                <img draggable="false" class="modal-needed in-out" src="{{ url_for('static', filename='images/stool.png') }}" alt="Image 8" width="50" height="50" id="SE" title="Selles" />
              </li>
              <li>
                <img draggable="false" class="modal-needed in-out" src="{{ url_for('static', filename='images/urine.png') }}" alt="Image 9" width="50" height="50" id="U" title="Urine" />
              </li>
              <li>
                <img draggable="false" class="modal-needed in-out" src="{{ url_for('static', filename='images/vomiting.png') }}" alt="Image 10" width="50" height="50" id="NV" title="Nausées et vomissements" />
              </li>
              <li>
                <img draggable="true" class="item cares" src="{{ url_for('static', filename='images/accident.png') }}" alt="Image 11" width="50" height="50" id="C" title="Accident" />
              </li>
              <li>
                <img draggable="true" class="item cares" src="{{ url_for('static', filename='images/catheter.png') }}" alt="Image 12" width="50" height="50" id="CA" title="Cathéter" />
              </li>
              <li>
                <img draggable="true" class="item cares" src="{{ url_for('static', filename='images/band-aid.png') }}" alt="Image 13" width="50" height="50" id="PAN" title="Soin" />
              </li>
            </ul>
            <ul id="secondary-items">
              <li id="hide-button" style="display: none;">
                <img draggable="false" id="item-hider" src="{{ url_for('static', filename='images/return-arrow.png') }}" alt="Return arrow" width="50" height="50" />
              </li>
            </ul>
          </div>
          <br />
          <div id="visualization"></div>
        </div>
        <br />
        <div class="row">
          <div class="col-3 col-1-narrower"></div>
          <div class="col-6 col-10-narrower">
            <center>
              <textarea id="comment-transmition" style="resize: none; display: none;" placeholder="Ajouter un commentaire..."></textarea>
              <br />
              <input class="unchecked" type="button" id="check-1" name="check-1" style="display: none;" value="Perte de connaissance" />
              <input class="num-input" type="number" id="num-1" placeholder="" style="display: none;" />
              <input class="num-input" type="number" id="num-2" placeholder="" style="display: none;" />
            </center>
          </div>
          <div class="col-3 col-1-narrower"></div>
        </div>
        <br />
        <br />
        <div class="buttons-container">
          <ul id="hiddenUl" style="display: none;">
            <li>
              <img draggable="true" class="item subicon vital-constant" src="{{ url_for('static', filename='images/hot.png') }}" alt="Image 1 alt1" width="50" height="50" id="T0" title="Fièvre" />
            </li>
            <li>
              <img draggable="true" class="item subicon vital-constant" src="{{ url_for('static', filename='images/cold.png') }}" alt="Image 1 alt2" width="50" height="50" id="T1" title="Hypothermie" />
            </li>
            <li>
              <img draggable="true" class="item subicon vital-constant" src="{{ url_for('static', filename='images/manometre-plus.png') }}" alt="Image 2 alt2" width="50" height="50" id="PA1" title="Pression artérielle élevée" />
            </li>
            <li>
              <img draggable="true" class="item subicon vital-constant" src="{{ url_for('static', filename='images/manometre-moins.png') }}" alt="Image 2 alt1" width="50" height="50" id="PA0" title="Pression artérielle basse" />
            </li>
            <li>
              <img draggable="true" class="item subicon vital-constant" src="{{ url_for('static', filename='images/pulsation-plus.png') }}" alt="Image 3 alt2" width="50" height="50" id="P1" title="Rythme cardiaque rapide" />
            </li>
            <li>
              <img draggable="true" class="item subicon vital-constant" src="{{ url_for('static', filename='images/pulsation-moins.png') }}" alt="Image 3 alt1" width="50" height="50" id="P0" title="Rythme cardiaque lent" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-1.png') }}" alt="Image 5 alt0" width="50" height="50" id="D0" title="Douleur de niveau 1" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-2.png') }}" alt="Image 5 alt1" width="50" height="50" id="D1" title="Douleur de niveau 2" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-3.png') }}" alt="Image 5 alt2" width="50" height="50" id="D2" title="Douleur de niveau 3" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-4.png') }}" alt="Image 5 alt3" width="50" height="50" id="D3" title="Douleur de niveau 4" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-5.png') }}" alt="Image 5 alt4" width="50" height="50" id="D4" title="Douleur de niveau 5" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-6.png') }}" alt="Image 5 alt5" width="50" height="50" id="D5" title="Douleur de niveau 6" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-7.png') }}" alt="Image 5 alt6" width="50" height="50" id="D6" title="Douleur de niveau 7" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-8.png') }}" alt="Image 5 alt7" width="50" height="50" id="D7" title="Douleur de niveau 8" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-9.png') }}" alt="Image 5 alt8" width="50" height="50" id="D8" title="Douleur de niveau 9" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/pain-10.png') }}" alt="Image 5 alt9" width="50" height="50" id="D9" title="Douleur de niveau 10" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/colere.png') }}" alt="Image 7 alt1" width="50" height="50" id="EP0" title="Enervement" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/anxieux.png') }}" alt="Image 7 alt2" width="50" height="50" id="EP1" title="Anxiété" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/emu.png') }}" alt="Image 7 alt3" width="50" height="50" id="EP2" title="Emoi" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/apathique.png') }}" alt="Image 7 alt4" width="50" height="50" id="EP2" title="Apathie" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/deprime.png') }}" alt="Image 7 alt5" width="50" height="50" id="EP3" title="Deprime" />
            </li>
            <li>
              <img draggable="true" class="item subicon state" src="{{ url_for('static', filename='images/confus.png') }}" alt="Image 7 alt6" width="50" height="50" id="EP4" title="Confusion" />
            </li>
            <li>
              <img draggable="true" class="item subicon in-out" src="{{ url_for('static', filename='images/stool-plus.png') }}" alt="Image 8 alt2" width="50" height="50" id="SE1" title="Diarrhée" />
            </li>
            <li>
              <img draggable="true" class="item subicon in-out" src="{{ url_for('static', filename='images/stool-minus.png') }}" alt="Image 8 alt1" width="50" height="50" id="SE0" title="Constipation" />
            </li>
            <li>
              <img draggable="true" class="item subicon in-out" src="{{ url_for('static', filename='images/stool-none.png') }}" alt="Image 8 alt3" width="50" height="50" id="SE2" title="Constipation aigüe" />
            </li>
            <li>
              <img draggable="true" class="item subicon in-out" src="{{ url_for('static', filename='images/urine-plus.png') }}" alt="Image 9 alt2" width="50" height="50" id="U1" title="Beaucoup uriné" />
            </li>
            <li>
              <img draggable="true" class="item subicon in-out" src="{{ url_for('static', filename='images/urine-minus.png') }}" alt="Image 9 alt1" width="50" height="50" id="U0" title="Peu uriné" />
            </li>
            <li>
              <img draggable="true" class="item subicon in-out" src="{{ url_for('static', filename='images/urine-none.png') }}" alt="Image 9 alt3" width="50" height="50" id="U2" title="Abscence urine" />
            </li>
            <li>
              <img draggable="true" class="item subicon in-out" src="{{ url_for('static', filename='images/nausea.png') }}" alt="Image 10 alt1" width="50" height="50" id="NV0" title="Nausées" />
            </li>
            <li>
              <img draggable="true" class="item subicon in-out" src="{{ url_for('static', filename='images/vomiting.png') }}" alt="Image 10 alt2" width="50" height="50" id="NV1" title="Vomissements" />
            </li>
          </ul>
        </div>
      </section>

      <!-- Footer -->
      <div id="footer">
        <div class="container"></div>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; Untitled. All rights reserved</li>
            <li>
              Design: <a href="http://html5up.net">HTML5 UP</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <script src="{{ url_for('static', filename='js/myTimeline.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <script>
      var socket = io()
    </script>
    <script src="{{ url_for('static', filename='js/mySocketio.js') }}"></script>
  </body>
</html>
